@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
     background-image: radial-gradient(circle, #0d213f, #002456, #00256c, #1b2280, #3a1791);
}

/* Define font utilities using the CSS variables */
.font-days-one {
    font-family: var(--font-days-one), sans-serif;
}

.font-inter {
    font-family: var(--font-inter), sans-serif;
}

.font-rubik {
    font-family: var(--font-rubik), sans-serif;
}

.perspective-1000 {
    perspective: 1000px;
}

@keyframes vertical-scroll {
    0% {
        transform: translateY(0) rotate(-12deg) scale(1.1);
    }
    100% {
        transform: translateY(-50%) rotate(-12deg) scale(1.1);
    }
}

.animate-vertical-scroll {
    animation: vertical-scroll 20s linear infinite;
}
